*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --default-font-size: 16px;
}

body {
  background-color: white;
  font-size: var(--default-font-size);
  font-family: sans-serif;
}

a,
a:visited {
  color: crimson;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

.whole .title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  user-select: none;
  color: black;
}

.menu {
  width: 250px;
}

.menu-item {
  width: 100%;
  padding: 7px 10px;
  margin: 3px 0;
  border-radius: 99px;
  border: 2px solid crimson;
  font-size: var(--default-font-size);
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-item:disabled {
  filter: saturate(0);
  opacity: 0.4;
}

.menu-item:hover {
  text-decoration: underline;
  background-color: crimson;
  color: white;
}

.option-item {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.option-item.on {
  font-weight: bold;
  color: green;
}

.option-item.currentVersion {
  color: #333;
}

.warning {
  padding: 0.25em 1em;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #10171e;
  }

  hr {
    border-top: 1px solid #333;
  }

  .whole .title {
    color: white;
  }

  .menu-item {
    background-color: #10171e;
    color: white;
  }

  .option-item {
    color: #999;
  }

  .option-item.on {
    color: palegreen;
  }

  .option-item.currentVersion {
    color: #999;
  }
}
