.mobcb-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
hr.mobcb-hr {
  margin: 3px 0;
}
.mobcb-dialog [hidden] {
  display: none;
}
.mobcb-dialog {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 450px;
  max-height: 80vh;
}
.mobcb-titlebar {
  margin-bottom: 5px;
}
.mobcb-title {
  font-size: 1.25em;
  font-weight: bold;
}
.mobcb-title-status {
  font-size: 1em;
}
.mobcb-progress-bar {
  width: 100%;
}
.mobcb-progress-text {
  font-size: small;
  opacity: 0.85;
}
.mobcb-users {
  min-width: 60px;
  overflow-y: scroll;
}
.mobcb-userlist {
  list-style: none;
  line-height: 150%;
}
.mobcb-user.block-success:before {
  content: '\2714';
}
.mobcb-user.block-failed:before {
  content: '\274C';
}
.mobcb-extra-options {
  padding: 10px 0;
}
.mobcb-extra-options input[type='checkbox'] {
  margin-right: 0.5em;
  vertical-align: middle;
}
.mobcb-message-container {
  float: left;
  padding: 10px 0;
  width: 100%;
}
.mobcb-limit-status {
  margin: 5px 0;
  font-size: small;
}
.mobcb-controls .normal-btn {
  color: inherit;
}
.mobcb-controls .btn:disabled {
  cursor: not-allowed;
}
.mobcb-controls .btn ~ .btn {
  margin: 0 5px;
}

/* ---------- 모바일 ---------- */
.mob-mobile .mobcb-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.mob-mobile .mobcb-dialog {
  border-radius: 10px;
  min-width: 250px;
  width: 90vw;
  max-height: 95vh;
  font-size: 16px;
}
.mob-mobile .mobcb-users > ul {
  padding-left: 0;
  margin: 0;
  line-height: 200%;
}
.mob-mobile hr.mobcb-hr {
  border-top: 1px solid;
  border-bottom: 0;
}
.mob-mobile .mobcb-controls {
  text-align: right;
}
.mob-mobile .btn {
  padding: 10px 25px;
  border: 1px solid;
  font-size: 1.25em;
}
/* 버튼 순서가 차단-닫기 순이 되도록 */
.block-dialog .btn {
  float: right;
}
.mob-mobile .mobcb-controls .btn ~ .btn {
  margin: 0 20px;
}
.mob-mobile .mobcb-controls .btn:disabled {
  opacity: 0.4;
}

/* --- 야간모드 off --- */
.mob-mobile .mobcb-dialog {
  background-color: #fff;
  color: #000;
}
.mob-mobile .btn {
  background-color: #ccc;
  border-color: #999;
}
.mob-mobile .mobcb-user a {
  color: crimson;
  text-decoration: underline;
}
.mob-mobile .btn.caution-btn {
  background-color: crimson;
  color: white;
}

/* --- 야간모드 on --- */
.mob-mobile.mob-nightmode .mobcb-dialog {
  background-color: #141d26;
  color: #fff;
}
.mob-mobile.mob-nightmode .btn {
  background-color: #1b2836;
  border-color: #666;
}
.mob-mobile.mob-nightmode .mobcb-user a {
  color: #f47189;
  text-decoration: underline;
}
.mob-mobile.mob-nightmode .btn.caution-btn {
  background-color: crimson;
  color: white;
}
