/* 구 UI */
.mob-enable-outline .ProfileCard.mob-blocks-you-outline {
  outline: 3px solid crimson;
}
.mob-enable-outline .account.mob-blocks-you-outline {
  border: 3px solid crimson !important;
  margin: 1px 0;
}
.mob-enable-outline .ProfileAvatar.mob-blocks-you-outline {
  border-color: crimson !important;
}
.mob-enable-outline .Tombstone.mob-blocks-you-outline {
  outline: 3px solid crimson;
}

.mob-enable-outline .js-user-profile-link.mob-blocks-you-outline {
  outline: 2px solid crimson;
}

/* 신 UI */
.mob-enable-outline #react-root [data-mirrorblock-blocks-you='1'] {
  border: 2px solid crimson;
}

.mob-enable-outline
  #react-root
  [data-testid='tweet']
  [data-mirrorblock-blocks-you='1'],
.mob-enable-outline
  #react-root
  [data-testid='tweetDetail']
  [data-mirrorblock-blocks-you='1'] {
  /* inline-block:
  빨간 테두리가 링크 위에도 묻는(?) 현상이 있다.
  더 깔끔하게 표시하기 위해 inline-block으로 처리
   */
  display: inline-block;
}
