@keyframes Pop {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.badge-wrapper {
  white-space: nowrap;
}

.badge {
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
  margin-left: 2px;
  padding: 4px;
}

.badge.blocks-you {
  background-color: #f9f2f4;
  color: #c7254e;
}

.badge.block-reflected {
  background-color: #fcf8e3;
  color: #8a6d3b;
  animation: Pop 0.2s;
  will-change: transform;
}

.badge-wrapper [hidden] {
  display: none;
}

#react-root .badge {
  padding: 0.1rem 5px;
  border-radius: 5px;
  font-size: 90%;
}

#react-root [data-testid='UserCell'] .badge {
  font-size: 12px;
}

.account .badge {
  margin: 0;
}

.mob-nightmode .badge {
  background-color: #10171e;
}

.mob-nightmode .badge.block-reflected {
  color: #fce8b3;
}
