/* 차단표시/반사 */
.mob-BlockStatus,
.mob-BlockReflectedStatus {
  border-radius: 4px;
  font-size: 10px;
  font-weight: normal;
  margin-left: 2px;
  padding: 2px 4px;
}

.prf-header .mob-BlockStatus,
.prf-header .mob-BlockReflectedStatus {
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 5px;
}

.prf-header .mob-BlockStatus {
  background-color: #c66c;
  color: #fff;
}

.prf-header .mob-BlockReflectedStatus {
  background-color: #996c;
  color: #fff;
}

.account-summary .mob-BlockStatus {
  background-color: #f9f2f4;
  color: #c7254e;
}

.account-summary .mob-BlockReflectedStatus {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

html.dark .account-summary .mob-BlockStatus {
  background-color: #10171e;
}

html.dark .account-summary .mob-BlockReflectedStatus {
  background-color: #10171e;
  color: #fce8b3;
}
